<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.chaquo.python, com.spotify.android:auth:2.1.0, com.android.volley:volley:1.2.1, com.google.code.gson:gson:2.10.1" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicMoods"
        tools:node="replace"
        tools:targetApi="33">
        <activity
            android:name=".SpotifyLogout"
            android:exported="false" />
        <activity
            android:name=".SpotifyLogin"
            android:exported="true" />
        <activity
            android:name=".MySpotifyAuthorizationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="com.example.musicmoods" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MusicMoods">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PythonTestActivity0"
            android:exported="false" />

        <service
            android:name=".MoodLog"
            android:exported="false" />

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged" />
                <action android:name="com.spotify.music.metadatachanged" />
                <action android:name="com.spotify.music.queuechanged" />
            </intent-filter>
        </receiver>
    </application>

</manifest>